/* Logo image container */
.logo-container {
    display: flex;
    justify-content: flex-end;
    margin-top:-10px;
}

/* Ribbon image container */
.ribbon-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    flex-grow: 0;
    background: red;
    width: 100%;
}

/* Custom title*/ 
.custom-h1{
    font-size: 70px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}